.todo {
  border: none;
  font-size: medium;
  width: 14rem;
  padding: 10px;
  text-align: center;
  color: rgb(0, 0, 255);
  background-color: rgb(243, 238, 242);
}

.todo:hover {
  background-color: rgb(207, 207, 221);
  color: rgb(183, 46, 201);
}

.btn {
  padding: 0 10px 11px 10px;
  color: blue;
  background-color: rgb(243, 238, 243);
  border: none;
}

.btn:hover {
  background-color: blue;
  color: white;
}

.card-title {
  font-size: xx-large;
  text-transform: capitalize;
}

h1 {
  text-align: center;
  background-color: rgb(43, 58, 71);
  margin: 0 0 1rem 0;
  padding: 1rem;
  text-shadow: 2px 2px #ff0000;
  color: white;
}

/* 
body {
  background-color: rgb(213, 215, 228);
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* body {
    background: rgb(223, 206, 206);
  } */

  .top {
    width: 95%;
    margin-bottom: 8px;
  }

  .bt {
    width: 50%;
  }

  .flex {
    display: flow-root;
    text-align: center;
  }
}


